.body {  
    font-family: 'Hanalei Fill', cursive;
    background-image: url('../image/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 837px;
    background-size: cover;
    background-attachment: fixed;
}
